<!-- Publishes static transfroms for IR sensors -->

<launch>
  <node pkg="tf" type="static_transform_publisher" name="irF_bcast"
    args= "0.08 0.0 0.09 0.0 1.570796 0.0 /base_link /irF 100" />

  <node pkg="tf" type="static_transform_publisher" name="irL_bcast"
    args= "0.0 0.06 0.09 1.570796 1.570796 0.0 /base_link /irL 100" />

  <node pkg="tf" type="static_transform_publisher" name="irR_bcast"
    args= "0.0 -0.06 0.09 -1.570796 1.570796 0.0 /base_link /irR 100" />
</launch>
