<launch>
	<param name="kp" value="0.5"/>
	<param name="ka" value="0.7"/>
	<param name="kb" value="-1.0"/>
	<node pkg="e190_bot" name="control" type="control.py"/>
	<node pkg="e190_bot" name="pTrack" type="pointTracking.py"/>
	<node pkg="e190_bot" name="subGoal" type="subGoal.py"/>
	<node pkg="rviz" type="rviz" name="rviz"/>
</launch>
